.token {
    margin-top: 6rem;
}

.token input {
    text-align: center;
}

.token h1 {
    margin-bottom: 0.625rem;
}

.form-token {
    margin-right: 3.5rem;
}

.finish button{
    margin-top: 2rem; 
    margin-right: -15rem;
}