.token {
    margin-top: 6rem;
}

.token input {
    text-align: center;
}

.token h1 {
    margin-bottom: 0.625rem;
}

.form-token {
    margin-right: 3.5rem;
}

.finish button{
    margin-top: 2rem; 
    margin-right: -15rem;
    line-height: 1.31rem;
    color: var(--blue-dark);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 3.5rem;
    background-position: 96%;
    
}

.finishAzul button{
    margin-top: 2rem; 
    margin-right: -15rem;
    line-height: 1.31rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 3.5rem;
    background-position: 96%;
    color: white;
    background-color: var(--blue-dark);
}
