.img {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.container-form {
    margin-right: 7rem;
}

h1 {
    color: var(--blue-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 0.875rem;
    font-size: 1rem;
}

.div-icon h1 {
    margin-bottom: 0.875rem;
}

.div-iconTwo h1 {
    margin-top: 1rem;
    margin-bottom: 0.875rem;
}

.div-checkbox {
    margin-top: 1.5rem;
}

.div-checkbox a {
    color: var(--blue-dark);
}

input{
    width: 20rem;
    height: 3rem;
    border-radius: 0.25rem;
    border: .2rem solid var(--grey);
    padding: 0.5rem;
}

.div-icon input{
    background: url('../../images/user.svg') no-repeat 7px;
    background-position: 96%;
}

.div-iconTwo input {
    background: url('../../images/lock.svg') no-repeat 7px;
    background-position: 96%;
}

.buttons {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

button.noProssed{
    border: none;
    background-color: #999;
    cursor: no-drop;
    border-radius: 0.437rem;
    font-size: 0.875rem;
    color: var(--blue-dark);
    font-family: 'Poppins', sans-serif;
    margin-right: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.937rem;
    padding: 0.75rem 4rem;
}
button.enter{
    border: .2rem solid var(--blue-dark);
    cursor: pointer;
    border-radius: 0.437rem;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    margin-right: 2.5rem;
}



@media(max-width: 500px){
    .container-form{
        width: 100%;
        margin-right: 1.5rem;
        margin-left: 4.5rem;
    }          

    .img {
        display: none;
    }
}

/* button {
    
    b
} */
